Topic:        Challenge Set 1
Subject:      Explore MTA turnstile data
Date:         07/03/2019
Name:         Alex Muhr
Worked with:  Seth Weiland, Nick Cochrane

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from collections import defaultdict
%matplotlib inline

## Challenge 1

In [2]:
turnstile1 = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_190629.txt")
turnstile2 = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_190622.txt")
turnstile3 = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_190615.txt")

In [3]:
turnstile = pd.concat([turnstile1, turnstile2, turnstile3], axis = 0)
turnstile.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,00:00:00,REGULAR,7107725,2407457
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,04:00:00,REGULAR,7107738,2407465
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,08:00:00,REGULAR,7107761,2407491
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,12:00:00,REGULAR,7107858,2407541
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,16:00:00,REGULAR,7108075,2407581

In [4]:
turnstile.shape

(618374, 11)

In [5]:
turnstile.rename(columns = lambda x: x.strip(), inplace = True)

In [6]:
turnstile.reset_index(drop = True, inplace = True)
turnstile.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,00:00:00,REGULAR,7107725,2407457
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,04:00:00,REGULAR,7107738,2407465
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,08:00:00,REGULAR,7107761,2407491
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,12:00:00,REGULAR,7107858,2407541
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,16:00:00,REGULAR,7108075,2407581

In [7]:
turnstile['COMBINED_INDICES'] = list(zip(turnstile['C/A'], turnstile['UNIT'], turnstile['SCP'], turnstile['STATION']))

In [8]:
turnstile_dict = defaultdict(list)

In [9]:
for index, row in turnstile.iterrows():
    row_list = [row['LINENAME'], row['DIVISION'], row['DATE'], row['TIME'], row['DESC'], row['ENTRIES'], row['EXITS']]
    key = row['COMBINED_INDICES']
    turnstile_dict[key].append(row_list)

In [10]:
turnstile_dict[('A002','R051','02-00-00','59 ST')]

[['NQR456W', 'BMT', '06/22/2019', '00:00:00', 'REGULAR', 7107725, 2407457],
 ['NQR456W', 'BMT', '06/22/2019', '04:00:00', 'REGULAR', 7107738, 2407465],
 ['NQR456W', 'BMT', '06/22/2019', '08:00:00', 'REGULAR', 7107761, 2407491],
 ['NQR456W', 'BMT', '06/22/2019', '12:00:00', 'REGULAR', 7107858, 2407541],
 ['NQR456W', 'BMT', '06/22/2019', '16:00:00', 'REGULAR', 7108075, 2407581],
 ['NQR456W', 'BMT', '06/22/2019', '20:00:00', 'REGULAR', 7108333, 2407608],
 ['NQR456W', 'BMT', '06/23/2019', '00:00:00', 'REGULAR', 7108482, 2407628],
 ['NQR456W', 'BMT', '06/23/2019', '04:00:00', 'REGULAR', 7108500, 2407639],
 ['NQR456W', 'BMT', '06/23/2019', '08:00:00', 'REGULAR', 7108512, 2407655],
 ['NQR456W', 'BMT', '06/23/2019', '12:00:00', 'REGULAR', 7108584, 2407707],
 ['NQR456W', 'BMT', '06/23/2019', '16:00:00', 'REGULAR', 7108746, 2407746],
 ['NQR456W', 'BMT', '06/23/2019', '20:00:00', 'REGULAR', 7108973, 2407775],
 ['NQR456W', 'BMT', '06/24/2019', '00:00:00', 'REGULAR', 7109085, 2407809],
 ['NQR456W', 'BMT', '06/24/2019', '04:00:00', 'REGULAR', 7109093, 2407815],
 ['NQR456W', 'BMT', '06/24/2019', '08:00:00', 'REGULAR', 7109129, 2407902],
 ['NQR456W', 'BMT', '06/24/2019', '12:00:00', 'REGULAR', 7109278, 2408083],
 ['NQR456W', 'BMT', '06/24/2019', '16:00:00', 'REGULAR', 7109596, 2408144],
 ['NQR456W', 'BMT', '06/24/2019', '20:00:00', 'REGULAR', 7110324, 2408207],
 ['NQR456W', 'BMT', '06/25/2019', '00:00:00', 'REGULAR', 7110532, 2408231],
 ['NQR456W', 'BMT', '06/25/2019', '04:00:00', 'REGULAR', 7110551, 2408237],
 ['NQR456W', 'BMT', '06/25/2019', '08:00:00', 'REGULAR', 7110588, 2408307],
 ['NQR456W', 'BMT', '06/25/2019', '12:00:00', 'REGULAR', 7110745, 2408559],
 ['NQR456W', 'BMT', '06/25/2019', '16:00:00', 'REGULAR', 7111036, 2408633],
 ['NQR456W', 'BMT', '06/25/2019', '20:00:00', 'REGULAR', 7111785, 2408693],
 ['NQR456W', 'BMT', '06/26/2019', '00:00:00', 'REGULAR', 7112017, 2408724],
 ['NQR456W', 'BMT', '06/26/2019', '04:00:00', 'REGULAR', 7112038, 2408729],
 ['NQR456W', 'BMT', '06/26/2019', '08:00:00', 'REGULAR', 7112086, 2408823],
 ['NQR456W', 'BMT', '06/26/2019', '12:00:00', 'REGULAR', 7112296, 2409065],
 ['NQR456W', 'BMT', '06/26/2019', '16:00:00', 'REGULAR', 7112608, 2409125],
 ['NQR456W', 'BMT', '06/26/2019', '20:00:00', 'REGULAR', 7113402, 2409210],
 ['NQR456W', 'BMT', '06/27/2019', '00:00:00', 'REGULAR', 7113640, 2409246],
 ['NQR456W', 'BMT', '06/27/2019', '04:00:00', 'REGULAR', 7113659, 2409253],
 ['NQR456W', 'BMT', '06/27/2019', '08:00:00', 'REGULAR', 7113709, 2409344],
 ['NQR456W', 'BMT', '06/27/2019', '12:00:00', 'REGULAR', 7113869, 2409566],
 ['NQR456W', 'BMT', '06/27/2019', '16:00:00', 'REGULAR', 7114212, 2409613],
 ['NQR456W', 'BMT', '06/27/2019', '20:00:00', 'REGULAR', 7114951, 2409679],
 ['NQR456W', 'BMT', '06/28/2019', '00:00:00', 'REGULAR', 7115170, 2409710],
 ['NQR456W', 'BMT', '06/28/2019', '04:00:00', 'REGULAR', 7115183, 2409715],
 ['NQR456W', 'BMT', '06/28/2019', '08:00:00', 'REGULAR', 7115223, 2409792],
 ['NQR456W', 'BMT', '06/28/2019', '12:00:00', 'REGULAR', 7115363, 2410005],
 ['NQR456W', 'BMT', '06/28/2019', '16:00:00', 'REGULAR', 7115735, 2410075],
 ['NQR456W', 'BMT', '06/28/2019', '20:00:00', 'REGULAR', 7116500, 2410155],
 ['NQR456W', 'BMT', '06/15/2019', '00:00:00', 'REGULAR', 7098729, 2404647],
 ['NQR456W', 'BMT', '06/15/2019', '04:00:00', 'REGULAR', 7098758, 2404650],
 ['NQR456W', 'BMT', '06/15/2019', '08:00:00', 'REGULAR', 7098791, 2404676],
 ['NQR456W', 'BMT', '06/15/2019', '12:00:00', 'REGULAR', 7098890, 2404763],
 ['NQR456W', 'BMT', '06/15/2019', '16:00:00', 'REGULAR', 7099127, 2404795],
 ['NQR456W', 'BMT', '06/15/2019', '20:00:00', 'REGULAR', 7099426, 2404828],
 ['NQR456W', 'BMT', '06/16/2019', '00:00:00', 'REGULAR', 7099605, 2404846],
 ['NQR456W', 'BMT', '06/16/2019', '04:00:00', 'REGULAR', 7099620, 2404851],
 ['NQR456W', 'BMT', '06/16/2019', '08:00:00', 'REGULAR', 7099629, 2404865],
 ['NQR456W', 'BMT', '06/16/2019', '12:00:00', 'REGULAR', 7099705, 2404922],
 ['NQR456W', 'BMT', '06/16/2019', '16:00:00', 'REGULAR', 7099892, 2404958],
 ['NQR456W', 'BMT', '06/16/2019', '20:00:00', 'REGULAR', 7100088, 2404992],
 ['NQR456W', 'BMT', '06/17/2019', '00:00:00', 'REGULAR', 7100165, 2405015],
 ['NQR456W', 'BMT', '06/17/2019', '04:00:00', 'REGULAR', 7100173, 2405018],
 ['NQR456W', 'BMT', '06/17/2019', '08:00:00', 'REGULAR', 7100216, 2405111],
 ['NQR456W', 'BMT', '06/17/2019', '12:00:00', 'REGULAR', 7100382, 2405321],
 ['NQR456W', 'BMT', '06/17/2019', '16:00:00', 'REGULAR', 7100719, 2405367],
 ['NQR456W', 'BMT', '06/17/2019', '20:00:00', 'REGULAR', 7101487, 2405443],
 ['NQR456W', 'BMT', '06/18/2019', '00:00:00', 'REGULAR', 7101703, 2405470],
 ['NQR456W', 'BMT', '06/18/2019', '04:00:00', 'REGULAR', 7101715, 2405472],
 ['NQR456W', 'BMT', '06/18/2019', '08:00:00', 'REGULAR', 7101754, 2405579],
 ['NQR456W', 'BMT', '06/18/2019', '12:00:00', 'REGULAR', 7101915, 2405800],
 ['NQR456W', 'BMT', '06/18/2019', '16:00:00', 'REGULAR', 7102235, 2405872],
 ['NQR456W', 'BMT', '06/18/2019', '20:00:00', 'REGULAR', 7102924, 2405965],
 ['NQR456W', 'BMT', '06/19/2019', '00:00:00', 'REGULAR', 7103118, 2405995],
 ['NQR456W', 'BMT', '06/19/2019', '04:00:00', 'REGULAR', 7103118, 2405995],
 ['NQR456W', 'BMT', '06/19/2019', '08:00:00', 'REGULAR', 7103161, 2406089],
 ['NQR456W', 'BMT', '06/19/2019', '12:00:00', 'REGULAR', 7103386, 2406312],
 ['NQR456W', 'BMT', '06/19/2019', '16:00:00', 'REGULAR', 7103739, 2406376],
 ['NQR456W', 'BMT', '06/19/2019', '20:00:00', 'REGULAR', 7104499, 2406448],
 ['NQR456W', 'BMT', '06/20/2019', '00:00:00', 'REGULAR', 7104713, 2406482],
 ['NQR456W', 'BMT', '06/20/2019', '04:00:00', 'REGULAR', 7104721, 2406482],
 ['NQR456W', 'BMT', '06/20/2019', '08:00:00', 'REGULAR', 7104763, 2406584],
 ['NQR456W', 'BMT', '06/20/2019', '12:00:00', 'REGULAR', 7104908, 2406838],
 ['NQR456W', 'BMT', '06/20/2019', '16:00:00', 'REGULAR', 7105238, 2406898],
 ['NQR456W', 'BMT', '06/20/2019', '20:00:00', 'REGULAR', 7105977, 2406970],
 ['NQR456W', 'BMT', '06/21/2019', '00:00:00', 'REGULAR', 7106209, 2406997],
 ['NQR456W', 'BMT', '06/21/2019', '04:00:00', 'REGULAR', 7106211, 2406998],
 ['NQR456W', 'BMT', '06/21/2019', '08:00:00', 'REGULAR', 7106260, 2407092],
 ['NQR456W', 'BMT', '06/21/2019', '12:00:00', 'REGULAR', 7106441, 2407301],
 ['NQR456W', 'BMT', '06/21/2019', '16:00:00', 'REGULAR', 7106814, 2407371],
 ['NQR456W', 'BMT', '06/21/2019', '20:00:00', 'REGULAR', 7107508, 2407423],
 ['NQR456W', 'BMT', '06/08/2019', '00:00:00', 'REGULAR', 7089463, 2401758],
 ['NQR456W', 'BMT', '06/08/2019', '04:00:00', 'REGULAR', 7089491, 2401764],
 ['NQR456W', 'BMT', '06/08/2019', '08:00:00', 'REGULAR', 7089511, 2401807],
 ['NQR456W', 'BMT', '06/08/2019', '12:00:00', 'REGULAR', 7089598, 2401889],
 ['NQR456W', 'BMT', '06/08/2019', '16:00:00', 'REGULAR', 7089801, 2401946],
 ['NQR456W', 'BMT', '06/08/2019', '20:00:00', 'REGULAR', 7090115, 2401978],
 ['NQR456W', 'BMT', '06/09/2019', '00:00:00', 'REGULAR', 7090281, 2402005],
 ['NQR456W', 'BMT', '06/09/2019', '04:00:00', 'REGULAR', 7090306, 2402008],
 ['NQR456W', 'BMT', '06/09/2019', '08:00:00', 'REGULAR', 7090321, 2402028],
 ['NQR456W', 'BMT', '06/09/2019', '12:00:00', 'REGULAR', 7090416, 2402087],
 ['NQR456W', 'BMT', '06/09/2019', '16:00:00', 'REGULAR', 7090629, 2402137],
 ['NQR456W', 'BMT', '06/09/2019', '20:00:00', 'REGULAR', 7090874, 2402164],
 ['NQR456W', 'BMT', '06/10/2019', '00:00:00', 'REGULAR', 7091020, 2402182],
 ['NQR456W', 'BMT', '06/10/2019', '04:00:00', 'REGULAR', 7091033, 2402184],
 ['NQR456W', 'BMT', '06/10/2019', '08:00:00', 'REGULAR', 7091073, 2402289],
 ['NQR456W', 'BMT', '06/10/2019', '12:00:00', 'REGULAR', 7091261, 2402514],
 ['NQR456W', 'BMT', '06/10/2019', '16:00:00', 'REGULAR', 7091556, 2402570],
 ['NQR456W', 'BMT', '06/10/2019', '20:00:00', 'REGULAR', 7092269, 2402645],
 ['NQR456W', 'BMT', '06/11/2019', '00:00:00', 'REGULAR', 7092450, 2402667],
 ['NQR456W', 'BMT', '06/11/2019', '04:00:00', 'REGULAR', 7092463, 2402670],
 ['NQR456W', 'BMT', '06/11/2019', '08:00:00', 'REGULAR', 7092502, 2402774],
 ['NQR456W', 'BMT', '06/11/2019', '12:00:00', 'REGULAR', 7092678, 2403008],
 ['NQR456W', 'BMT', '06/11/2019', '16:00:00', 'REGULAR', 7093015, 2403064],
 ['NQR456W', 'BMT', '06/11/2019', '20:00:00', 'REGULAR', 7093803, 2403135],
 ['NQR456W', 'BMT', '06/12/2019', '00:00:00', 'REGULAR', 7094056, 2403165],
 ['NQR456W', 'BMT', '06/12/2019', '04:00:00', 'REGULAR', 7094069, 2403168],
 ['NQR456W', 'BMT', '06/12/2019', '08:00:00', 'REGULAR', 7094111, 2403266],
 ['NQR456W', 'BMT', '06/12/2019', '12:00:00', 'REGULAR', 7094299, 2403482],
 ['NQR456W', 'BMT', '06/12/2019', '16:00:00', 'REGULAR', 7094640, 2403553],
 ['NQR456W', 'BMT', '06/12/2019', '20:00:00', 'REGULAR', 7095407, 2403634],
 ['NQR456W', 'BMT', '06/13/2019', '00:00:00', 'REGULAR', 7095613, 2403658],
 ['NQR456W', 'BMT', '06/13/2019', '04:00:00', 'REGULAR', 7095629, 2403659],
 ['NQR456W', 'BMT', '06/13/2019', '08:00:00', 'REGULAR', 7095670, 2403765],
 ['NQR456W', 'BMT', '06/13/2019', '12:00:00', 'REGULAR', 7095831, 2404008],
 ['NQR456W', 'BMT', '06/13/2019', '16:00:00', 'REGULAR', 7096133, 2404077],
 ['NQR456W', 'BMT', '06/13/2019', '20:00:00', 'REGULAR', 7096917, 2404142],
 ['NQR456W', 'BMT', '06/14/2019', '00:00:00', 'REGULAR', 7097147, 2404169],
 ['NQR456W', 'BMT', '06/14/2019', '04:00:00', 'REGULAR', 7097172, 2404177],
 ['NQR456W', 'BMT', '06/14/2019', '08:00:00', 'REGULAR', 7097220, 2404267],
 ['NQR456W', 'BMT', '06/14/2019', '12:00:00', 'REGULAR', 7097375, 2404516],
 ['NQR456W', 'BMT', '06/14/2019', '16:00:00', 'REGULAR', 7097758, 2404579],
 ['NQR456W', 'BMT', '06/14/2019', '20:00:00', 'REGULAR', 7098481, 2404624]]

## Challenge 2

In [11]:
turnstile['DATETIME'] = pd.to_datetime(turnstile['DATE'] + " " + turnstile['TIME'])
turnstile.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,COMBINED_INDICES,DATETIME
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,00:00:00,REGULAR,7107725,2407457,"(A002, R051, 02-00-00, 59 ST)",2019-06-22 00:00:00
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,04:00:00,REGULAR,7107738,2407465,"(A002, R051, 02-00-00, 59 ST)",2019-06-22 04:00:00
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,08:00:00,REGULAR,7107761,2407491,"(A002, R051, 02-00-00, 59 ST)",2019-06-22 08:00:00
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,12:00:00,REGULAR,7107858,2407541,"(A002, R051, 02-00-00, 59 ST)",2019-06-22 12:00:00
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,16:00:00,REGULAR,7108075,2407581,"(A002, R051, 02-00-00, 59 ST)",2019-06-22 16:00:00

In [12]:
turnstile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 618374 entries, 0 to 618373
Data columns (total 13 columns):
C/A                 618374 non-null object
UNIT                618374 non-null object
SCP                 618374 non-null object
STATION             618374 non-null object
LINENAME            618374 non-null object
DIVISION            618374 non-null object
DATE                618374 non-null object
TIME                618374 non-null object
DESC                618374 non-null object
ENTRIES             618374 non-null int64
EXITS               618374 non-null int64
COMBINED_INDICES    618374 non-null object
DATETIME            618374 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(10)
memory usage: 61.3+ MB

In [13]:
type(turnstile['DATETIME'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [14]:
turnstile_dict_timestamps = defaultdict(list)

In [15]:
for index, row in turnstile.iterrows():
    row_list = [row['DATETIME'], row['ENTRIES']]
    key = row['COMBINED_INDICES']
    turnstile_dict_timestamps[key].append(row_list)

In [16]:
turnstile_dict_timestamps[('A002','R051','02-00-00','59 ST')]

[[Timestamp('2019-06-22 00:00:00'), 7107725],
 [Timestamp('2019-06-22 04:00:00'), 7107738],
 [Timestamp('2019-06-22 08:00:00'), 7107761],
 [Timestamp('2019-06-22 12:00:00'), 7107858],
 [Timestamp('2019-06-22 16:00:00'), 7108075],
 [Timestamp('2019-06-22 20:00:00'), 7108333],
 [Timestamp('2019-06-23 00:00:00'), 7108482],
 [Timestamp('2019-06-23 04:00:00'), 7108500],
 [Timestamp('2019-06-23 08:00:00'), 7108512],
 [Timestamp('2019-06-23 12:00:00'), 7108584],
 [Timestamp('2019-06-23 16:00:00'), 7108746],
 [Timestamp('2019-06-23 20:00:00'), 7108973],
 [Timestamp('2019-06-24 00:00:00'), 7109085],
 [Timestamp('2019-06-24 04:00:00'), 7109093],
 [Timestamp('2019-06-24 08:00:00'), 7109129],
 [Timestamp('2019-06-24 12:00:00'), 7109278],
 [Timestamp('2019-06-24 16:00:00'), 7109596],
 [Timestamp('2019-06-24 20:00:00'), 7110324],
 [Timestamp('2019-06-25 00:00:00'), 7110532],
 [Timestamp('2019-06-25 04:00:00'), 7110551],
 [Timestamp('2019-06-25 08:00:00'), 7110588],
 [Timestamp('2019-06-25 12:00:00'), 7110745],
 [Timestamp('2019-06-25 16:00:00'), 7111036],
 [Timestamp('2019-06-25 20:00:00'), 7111785],
 [Timestamp('2019-06-26 00:00:00'), 7112017],
 [Timestamp('2019-06-26 04:00:00'), 7112038],
 [Timestamp('2019-06-26 08:00:00'), 7112086],
 [Timestamp('2019-06-26 12:00:00'), 7112296],
 [Timestamp('2019-06-26 16:00:00'), 7112608],
 [Timestamp('2019-06-26 20:00:00'), 7113402],
 [Timestamp('2019-06-27 00:00:00'), 7113640],
 [Timestamp('2019-06-27 04:00:00'), 7113659],
 [Timestamp('2019-06-27 08:00:00'), 7113709],
 [Timestamp('2019-06-27 12:00:00'), 7113869],
 [Timestamp('2019-06-27 16:00:00'), 7114212],
 [Timestamp('2019-06-27 20:00:00'), 7114951],
 [Timestamp('2019-06-28 00:00:00'), 7115170],
 [Timestamp('2019-06-28 04:00:00'), 7115183],
 [Timestamp('2019-06-28 08:00:00'), 7115223],
 [Timestamp('2019-06-28 12:00:00'), 7115363],
 [Timestamp('2019-06-28 16:00:00'), 7115735],
 [Timestamp('2019-06-28 20:00:00'), 7116500],
 [Timestamp('2019-06-15 00:00:00'), 7098729],
 [Timestamp('2019-06-15 04:00:00'), 7098758],
 [Timestamp('2019-06-15 08:00:00'), 7098791],
 [Timestamp('2019-06-15 12:00:00'), 7098890],
 [Timestamp('2019-06-15 16:00:00'), 7099127],
 [Timestamp('2019-06-15 20:00:00'), 7099426],
 [Timestamp('2019-06-16 00:00:00'), 7099605],
 [Timestamp('2019-06-16 04:00:00'), 7099620],
 [Timestamp('2019-06-16 08:00:00'), 7099629],
 [Timestamp('2019-06-16 12:00:00'), 7099705],
 [Timestamp('2019-06-16 16:00:00'), 7099892],
 [Timestamp('2019-06-16 20:00:00'), 7100088],
 [Timestamp('2019-06-17 00:00:00'), 7100165],
 [Timestamp('2019-06-17 04:00:00'), 7100173],
 [Timestamp('2019-06-17 08:00:00'), 7100216],
 [Timestamp('2019-06-17 12:00:00'), 7100382],
 [Timestamp('2019-06-17 16:00:00'), 7100719],
 [Timestamp('2019-06-17 20:00:00'), 7101487],
 [Timestamp('2019-06-18 00:00:00'), 7101703],
 [Timestamp('2019-06-18 04:00:00'), 7101715],
 [Timestamp('2019-06-18 08:00:00'), 7101754],
 [Timestamp('2019-06-18 12:00:00'), 7101915],
 [Timestamp('2019-06-18 16:00:00'), 7102235],
 [Timestamp('2019-06-18 20:00:00'), 7102924],
 [Timestamp('2019-06-19 00:00:00'), 7103118],
 [Timestamp('2019-06-19 04:00:00'), 7103118],
 [Timestamp('2019-06-19 08:00:00'), 7103161],
 [Timestamp('2019-06-19 12:00:00'), 7103386],
 [Timestamp('2019-06-19 16:00:00'), 7103739],
 [Timestamp('2019-06-19 20:00:00'), 7104499],
 [Timestamp('2019-06-20 00:00:00'), 7104713],
 [Timestamp('2019-06-20 04:00:00'), 7104721],
 [Timestamp('2019-06-20 08:00:00'), 7104763],
 [Timestamp('2019-06-20 12:00:00'), 7104908],
 [Timestamp('2019-06-20 16:00:00'), 7105238],
 [Timestamp('2019-06-20 20:00:00'), 7105977],
 [Timestamp('2019-06-21 00:00:00'), 7106209],
 [Timestamp('2019-06-21 04:00:00'), 7106211],
 [Timestamp('2019-06-21 08:00:00'), 7106260],
 [Timestamp('2019-06-21 12:00:00'), 7106441],
 [Timestamp('2019-06-21 16:00:00'), 7106814],
 [Timestamp('2019-06-21 20:00:00'), 7107508],
 [Timestamp('2019-06-08 00:00:00'), 7089463],
 [Timestamp('2019-06-08 04:00:00'), 7089491],
 [Timestamp('2019-06-08 08:00:00'), 7089511],
 [Timestamp('2019-06-08 12:00:00'), 7089598],
 [Timestamp('2019-06-08 16:00:00'), 7089801],
 [Timestamp('2019-06-08 20:00:00'), 7090115],
 [Timestamp('2019-06-09 00:00:00'), 7090281],
 [Timestamp('2019-06-09 04:00:00'), 7090306],
 [Timestamp('2019-06-09 08:00:00'), 7090321],
 [Timestamp('2019-06-09 12:00:00'), 7090416],
 [Timestamp('2019-06-09 16:00:00'), 7090629],
 [Timestamp('2019-06-09 20:00:00'), 7090874],
 [Timestamp('2019-06-10 00:00:00'), 7091020],
 [Timestamp('2019-06-10 04:00:00'), 7091033],
 [Timestamp('2019-06-10 08:00:00'), 7091073],
 [Timestamp('2019-06-10 12:00:00'), 7091261],
 [Timestamp('2019-06-10 16:00:00'), 7091556],
 [Timestamp('2019-06-10 20:00:00'), 7092269],
 [Timestamp('2019-06-11 00:00:00'), 7092450],
 [Timestamp('2019-06-11 04:00:00'), 7092463],
 [Timestamp('2019-06-11 08:00:00'), 7092502],
 [Timestamp('2019-06-11 12:00:00'), 7092678],
 [Timestamp('2019-06-11 16:00:00'), 7093015],
 [Timestamp('2019-06-11 20:00:00'), 7093803],
 [Timestamp('2019-06-12 00:00:00'), 7094056],
 [Timestamp('2019-06-12 04:00:00'), 7094069],
 [Timestamp('2019-06-12 08:00:00'), 7094111],
 [Timestamp('2019-06-12 12:00:00'), 7094299],
 [Timestamp('2019-06-12 16:00:00'), 7094640],
 [Timestamp('2019-06-12 20:00:00'), 7095407],
 [Timestamp('2019-06-13 00:00:00'), 7095613],
 [Timestamp('2019-06-13 04:00:00'), 7095629],
 [Timestamp('2019-06-13 08:00:00'), 7095670],
 [Timestamp('2019-06-13 12:00:00'), 7095831],
 [Timestamp('2019-06-13 16:00:00'), 7096133],
 [Timestamp('2019-06-13 20:00:00'), 7096917],
 [Timestamp('2019-06-14 00:00:00'), 7097147],
 [Timestamp('2019-06-14 04:00:00'), 7097172],
 [Timestamp('2019-06-14 08:00:00'), 7097220],
 [Timestamp('2019-06-14 12:00:00'), 7097375],
 [Timestamp('2019-06-14 16:00:00'), 7097758],
 [Timestamp('2019-06-14 20:00:00'), 7098481]]

## Challenge 3

In [20]:
turnstile_dict_timestamps[('A002','R051','02-00-00','59 ST')][0][0].day

22

In [25]:
first1000 = turnstile.head(1000)

In [29]:
group_indices = ['COMBINED_INDICES', 'DATE', 'ENTRIES']

maxs = first1000[group_indices].groupby(by = ['COMBINED_INDICES', 'DATE']).agg(max)
mins = first1000[group_indices].groupby(by = ['COMBINED_INDICES', 'DATE']).agg(min)
maxs - mins

                                               ENTRIES
COMBINED_INDICES                   DATE
(A002, R051, 02-00-00, 59 ST)      06/22/2019      608
                                   06/23/2019      491
                                   06/24/2019     1239
                                   06/25/2019     1253
                                   06/26/2019     1385
                                   06/27/2019     1311
                                   06/28/2019     1330
(A002, R051, 02-00-01, 59 ST)      06/22/2019      586
                                   06/23/2019      435
                                   06/24/2019     1064
                                   06/25/2019     1100
                                   06/26/2019     1095
                                   06/27/2019     1117
                                   06/28/2019     1077
(A002, R051, 02-03-00, 59 ST)      06/22/2019      257
                                   06/23/2019      155
                                   06/24/2019      410
                                   06/25/2019      414
                                   06/26/2019      424
                                   06/27/2019      448
                                   06/28/2019      378
(A002, R051, 02-03-01, 59 ST)      06/22/2019      713
                                   06/23/2019      486
                                   06/24/2019     1026
                                   06/25/2019     1112
                                   06/26/2019     1041
                                   06/27/2019     1024
                                   06/28/2019      944
(A002, R051, 02-03-02, 59 ST)      06/22/2019      686
                                   06/23/2019      537
...                                                ...
(A006, R079, 00-03-02, 5 AV/59 ST) 06/26/2019     2354
                                   06/27/2019     2332
                                   06/28/2019     2073
(A007, R079, 01-05-00, 5 AV/59 ST) 06/22/2019        0
                                   06/23/2019        0
                                   06/24/2019        0
                                   06/25/2019        1
                                   06/26/2019        0
                                   06/27/2019        0
                                   06/28/2019        2
(A007, R079, 01-05-01, 5 AV/59 ST) 06/22/2019        0
                                   06/23/2019        0
                                   06/24/2019        0
                                   06/25/2019        0
                                   06/26/2019        0
                                   06/27/2019        0
                                   06/28/2019        0
(A007, R079, 01-06-00, 5 AV/59 ST) 06/22/2019      562
                                   06/23/2019      553
                                   06/24/2019      566
                                   06/25/2019      404
                                   06/26/2019      574
                                   06/27/2019      572
                                   06/28/2019      588
(A007, R079, 01-06-01, 5 AV/59 ST) 06/22/2019      780
                                   06/23/2019      671
                                   06/24/2019     1245
                                   06/25/2019     1314
                                   06/26/2019     1444
                                   06/27/2019      224

[167 rows x 1 columns]

In [31]:
group_indices = ['COMBINED_INDICES', 'DATE', 'ENTRIES']

maxs = turnstile[group_indices].groupby(by = ['COMBINED_INDICES', 'DATE']).agg(max)
mins = turnstile[group_indices].groupby(by = ['COMBINED_INDICES', 'DATE']).agg(min)
daily_difference = maxs - mins

In [33]:
daily_difference.head()

                                          ENTRIES
COMBINED_INDICES              DATE
(A002, R051, 02-00-00, 59 ST) 06/08/2019      652
                              06/09/2019      593
                              06/10/2019     1249
                              06/11/2019     1353
                              06/12/2019     1351

## Challenge 5

In [35]:
first1000.rename(index = str, columns = {"COMBINED_INDICES": "CA_UNIT_SCP_STATION"}, inplace = True)
turnstile.rename(index = str, columns = {"COMBINED_INDICES": "CA_UNIT_SCP_STATION"}, inplace = True)

/Users/alex/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [36]:
turnstile.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,CA_UNIT_SCP_STATION,DATETIME
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,00:00:00,REGULAR,7107725,2407457,"(A002, R051, 02-00-00, 59 ST)",2019-06-22 00:00:00
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,04:00:00,REGULAR,7107738,2407465,"(A002, R051, 02-00-00, 59 ST)",2019-06-22 04:00:00
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,08:00:00,REGULAR,7107761,2407491,"(A002, R051, 02-00-00, 59 ST)",2019-06-22 08:00:00
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,12:00:00,REGULAR,7107858,2407541,"(A002, R051, 02-00-00, 59 ST)",2019-06-22 12:00:00
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,16:00:00,REGULAR,7108075,2407581,"(A002, R051, 02-00-00, 59 ST)",2019-06-22 16:00:00

In [37]:
turnstile['CA_UNIT_STATION'] = list(zip(turnstile['C/A'], turnstile['UNIT'], turnstile['STATION']))
turnstile.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,CA_UNIT_SCP_STATION,DATETIME,CA_UNIT_STATION
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,00:00:00,REGULAR,7107725,2407457,"(A002, R051, 02-00-00, 59 ST)",2019-06-22 00:00:00,"(A002, R051, 59 ST)"
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,04:00:00,REGULAR,7107738,2407465,"(A002, R051, 02-00-00, 59 ST)",2019-06-22 04:00:00,"(A002, R051, 59 ST)"
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,08:00:00,REGULAR,7107761,2407491,"(A002, R051, 02-00-00, 59 ST)",2019-06-22 08:00:00,"(A002, R051, 59 ST)"
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,12:00:00,REGULAR,7107858,2407541,"(A002, R051, 02-00-00, 59 ST)",2019-06-22 12:00:00,"(A002, R051, 59 ST)"
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,16:00:00,REGULAR,7108075,2407581,"(A002, R051, 02-00-00, 59 ST)",2019-06-22 16:00:00,"(A002, R051, 59 ST)"

In [38]:
group_indices = ['CA_UNIT_STATION', 'SCP', 'DATE', 'ENTRIES']

maxs = turnstile[group_indices].groupby(by = ['CA_UNIT_STATION', 'SCP', 'DATE']).agg(max)
mins = turnstile[group_indices].groupby(by = ['CA_UNIT_STATION', 'SCP', 'DATE']).agg(min)
daily_difference_scp = maxs - mins

In [40]:
daily_difference_scp.head()

                                         ENTRIES
CA_UNIT_STATION     SCP      DATE
(A002, R051, 59 ST) 02-00-00 06/08/2019      652
                             06/09/2019      593
                             06/10/2019     1249
                             06/11/2019     1353
                             06/12/2019     1351